<mat-card class="white-bg mat-elevation-z8 m-0 p-0">
    <mat-card-title-group class="p-2 " [ngStyle]="">
        <mat-card-title style="flex-wrap: wrap;">
            <div style="font-size: medium !important;margin-top: 5px;margin-left: 5px;">
                {{title}}
            </div>
        </mat-card-title>
        <div>
            <ng-content select="[id=titleExtras]"></ng-content>
            <card-button class="mr-4" [icon]="icon" (buttonClicked)="onButtonClicked($event)" *ngIf="showButton">
            </card-button>
        </div>
    </mat-card-title-group>

    <mat-card-content class="p-6">
        <ng-template #content>
            <ng-content #body></ng-content>
        </ng-template>

        <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-card-content>
</mat-card>