<mat-card class="card">
    <mat-card-title-group class="title-group">
        <mat-card-title class="title-container">
            <div class="title">
                {{title}}
            </div>
        </mat-card-title>
        <div>
            <ng-content select="[id=titleExtras]"></ng-content>
            <card-button class="button" [icon]="icon" (buttonClicked)="onButtonClicked($event)" *ngIf="showButton">
            </card-button>
        </div>
    </mat-card-title-group>

    <mat-card-content class="card-content">
        <ng-template #content>
            <ng-content #body></ng-content>
        </ng-template>

        <ng-container *ngTemplateOutlet="content"></ng-container>
    </mat-card-content>
</mat-card>