<div class="body" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="text">There are 4 employees</span>

        <button mat-raised-button matTooltip="Add new employee" class="add-btn" (click)="addEmployee()">
            <mat-icon>add</mat-icon>
            Add new employee
        </button>
    </div>

    <div class="employee-card-container" fxLayoutAlign="center center">
        <app-card hasButton="true" name="Filter/Search for employees" fxFlex="100" fxLayout="column">
            <div fxLayout="row" fxLayoutGap="15px">
                <mat-form-field appearance="outline" id="input-field" fxFlex="30">
                    <mat-label>Search</mat-label>
                    <input matInput #input (keyup) = "applyFilter($event)">
                </mat-form-field>
            </div>

            <div class = "table-container">
                <mat-table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="index">
                    <mat-header-cell *matHeaderCellDef fxFlex="20">Index</mat-header-cell>
                    <mat-cell *matCellDef="let i = index" fxFlex="20" class="row" >
                        <div id="index">
                            {{i + 1}}
                        </div>
                    </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef fxFlex="25">Name</mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="25" class="row" >
                      {{element.basicInformation.firstName}}
                    </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="surname">
                    <mat-header-cell *matHeaderCellDef fxFlex="25">Surname</mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="25" class="row" >
                      {{element.basicInformation.lastName}}
                    </mat-cell>
                  </ng-container>
        
                  <ng-container matColumnDef="cellphone">
                    <mat-header-cell *matHeaderCellDef fxFlex="20">Cellphone</mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="20" class="row" >
                      {{element.basicInformation.contactNumber}}
                    </mat-cell>
                  </ng-container>
        
                  <ng-container fxLayoutAllign="end center " matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef fxFlex="10" style="color: grey;">Actions </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="10">
                        <div fxLayout="row">
                            <mat-icon matTooltip="Edit employee" class="edit-icon" (click) = "editEmployee(element)" style="padding-right: 10px;">edit</mat-icon>
                            <mat-icon class = "icon-padding" matTooltip="Delete employee" class="icon" (click) = "deleteEmployee(element._id)">delete</mat-icon>
                        </div>
                    </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
              </div>

            <!-- <div fxLayout="column">
                <div *ngFor="let employee of employeeList;let index = index;" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="employee-row">
                        <span id="index">{{index + 1}}</span>
                        <span class="information">{{employee.basicInformation.firstName}}</span>
                        <span class="information">{{employee.basicInformation.lastName}}</span>
                        <span class="information">{{employee.basicInformation.contactNumber}}</span>
                        <div fxLayout="row">
                            <mat-icon matTooltip="Edit employee" class="edit-icon" (click) = "editEmployee(employee)" style="padding-right: 10px;">edit</mat-icon>
                            <mat-icon matTooltip="Delete employee" class="icon" (click) = "deleteEmployee(employee._id)">delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div> -->
         </app-card>  
    </div>

    <add-employee (closed)="showAddEmployee = false" (employeeAdded)="addedEmployee($event)"  title="Add " [employee]="employee" *ngIf="showAddEmployee">
    </add-employee>
</div>