.body {
    padding: 15px;
}

.text {
    color: white;
    font-size: 20px;
}

.add-btn {
    background-color: #7030A0;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.sub-title {
    padding-top: 15px;
}

#input-field {
    font-size: x-small;
    color: black;
}

#addCard {
    width: 40vw;
    height: 40vh !important;
}

.employee-row {
    margin-top: 15px;
    background-color: #767070;
    padding: 15px;
    border-radius: 15px;
}

.employee-card-container {
    width: 80vw;
}

#index {
    color: #7030A0;
    width: 30px;
    height: 30px;
    border: 1px solid #7030A0;
    border-radius: 50%;
    text-align: center;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
}

.information {
    color: white;
    font-size: 16px;
}

.icon {
    color: red;
    cursor: pointer;
}

.edit-icon {
    color: white;
    cursor: pointer;
}