.body {
    padding: 15px;
}

.text {
    color: white;
    font-size: 20px;
}

.add-btn {
    background-color: #7030A0;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.image {

}

.sub-title {
    padding-top: 15px;
}