.full-screen {
  height: 100vh;
  width: 100%;
}
.full-height {
  height: 100%;
}
.sideNavBar {
  background-color: #7030A0;
}

.mat-drawer-container {
  //background: linear-gradient(0deg, #D3C502 4%, #D8CF52 30%, whitesmoke 100%);
  height: 100%;

  background-color: #f0f0f0; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
